.RefreshButton {
    background-image: url(../../../public/files/images/icons/refresh.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform ease 0.25s;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: grab;
}

.RefreshButton:hover {
    transform: scale(1.2);
}

.BackButton {
    background-image: url(../../../public/files/images/icons/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform ease 0.25s;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: grab;
}

.BackButton:hover {
    transform: scale(1.2);
}