::-webkit-scrollbar {
    background-color: transparent;
}

* {
    font-family: Arial;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

img {
    pointer-events: none;
}

h2, h1, p {
    color: white;
    text-align: center;
}

body {
    margin: 0;
}

button {
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    background-color: black;
    cursor: pointer;
}

button:active {
    border-color: gray;
    color: gray;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* ^ Main menu */

@media only screen and (max-width: 480px) {
    #title {
        font-family: 'Raleway';
        font-weight: 900;
        text-align: center;
        color: white;
        font-size: 25px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 480px) {
    #title {
        font-family: 'Raleway';
        font-weight: 900;
        text-align: center;
        color: white;
        font-size: 100px;
        margin: 0;
    }
}

#blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(5px) brightness(25%);
}

#menu-content {
    padding: 5px;
    position: relative;
    margin: 0 auto;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 50%;
    min-width: 300px;
    flex-direction: column;
}

#start-menu-content {
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    width: 100%;
    height: 300px;
}

#start-menu-content-bttn-container {
    justify-content: center;
    transform: translate(0, -15px);
}


/* ^ About us window */


/* mobile */
@media only screen and (max-width: 480px) {
    #about-us {
        padding: 15px;
        line-height: 25px;
        display: none;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        border: 1px solid white;
        border-radius: 6px;
        width: 80%;
        text-align: justify;
        height: 60%;
        position: absolute;
        overflow-y: hidden;
        overflow: visible;
    }
}

/* Desktop */
@media only screen and (min-width: 480px) {
    #about-us {
        padding: 15px;
        line-height: 25px;
        display: none;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        border: 1px solid white;
        border-radius: 6px;
        width: 50%;
        height: 50%;
        position: absolute;
        overflow: visible;
    }
}

#scroll {
    overflow: auto;
    height: 100%;
}



#close-button-container {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    bottom: 0;
    transform: translate(0, 15px);
    justify-content: center;
}