@media (min-width: 768px) {
    .NormalPopup {
        z-index: 5;
        width: 500px;
        height: 250px;
        background: black;
        border: 1px solid white;
        border-radius: 6px;
        padding: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        cursor: grab;
    }

    .close-button {
        position: absolute;
        bottom: 0;
        transform: translateY(18px);
    }
}

@media (max-width: 767px) {
    .NormalPopup {
        z-index: 5;
        width: 300px;
        height: 250px;
        background: black;
        border: 1px solid white;
        border-radius: 6px;
        padding: 25px;
        display: flex;
        font-size: 0.8rem;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        cursor: grab;
    }

    .close-button {
        position: absolute;
        bottom: 0;
        transform: translateY(18px);
    }
}