#manage-property-window {
    font-size: normal;
}

#close-manage-property-window-button {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 5px;
    background-color: red;
    border: none;
    border-radius: 100%;
    padding: 8px;
    color: red;
}

#property-window-content {
    width: 100%;
    max-height: 75%;
    overflow-y: overlay;
    padding: 15px;
    display: flex;
    text-align: left;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#property-element {
    display: flex;
    align-items: center;
}

#house-type-container {
    width: 75%;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
}

#house-control-buttons {
    width: 25%;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: stretch;
    padding: 2px;
}

#sell-house-button {
    background-color: green;
    width: 100%;
}

#sell-house-button::after {
    background-color: rgb(0, 50, 0);
}

#dragg {
    border-bottom: 1px solid white;
    cursor: move;
}