#manage-property-window {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;

    min-width: 300px;
    width: 50%;
    height: 300px;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
}

#close-manage-property-window-button {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 5px;
    background-color: red;
    border: none;
    border-radius: 100%;
    padding: 8px;
    color: red;
}

#property-window-content {
    width: 100%;
    max-height: 75%;
    background-color: none;
    overflow: auto;
}

#property-element {
    display: flex;
    background-color: black;
}

#house-type-container {
    width: 75%;
    height: 50px;
    background-color: none;
    margin: 5px;
}

#house-control-buttons {
    width: 25%;
    height: 50px;
    background-color: none;
    margin: 5px;
}

#sell-house-button {
    background-color: green;
    width: 100%;
}

#sell-house-button::after {
    background-color: rgb(0, 50, 0);
}

#dragg {
    border-bottom: 1px solid white;
    cursor: move;
}