::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  position: static;
}

span {
  padding: 0;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background-image: url('/_pages/_games/money-game/images/new-york-map.png');
  background-size: cover;
  background-repeat: auto;
  box-sizing: content-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 250%;
  margin-bottom: 1px;
}

input {
  padding: 5px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
}