#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: auto;
}

@media screen and (max-width: 600px) {
    #grid {
        overflow: hidden;
        display: block;
        padding: 15px;
    }
}